# docker compose up
# docker compose down --volumes
services:
  mysql:
    image: mysql:8.4
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_ja_0900_as_cs_ks
    ports:
      - 3306:3306
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_USER=user
      - MYSQL_PASSWORD=password111
      - MYSQL_DATABASE=foo
    volumes:
      - mysql:/var/lib/mysql

  postgresql:
    image: postgres:18.1
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password111
      POSTGRES_DB: foo
    volumes:
      - postgresql:/var/lib/postgresql/data

  redis:
    image: redis:8.2
    command: redis-server --save 60 1 --loglevel warning --requirepass password111
    ports:
      - 6379:6379
    volumes:
      - redis:/data

volumes:
  mysql: {}
  postgresql: {}
  redis: {}
