name: "Build on Comment"

on:
  issue_comment:
    types: [created]

env:
  BUILD_CONFIG: Release

jobs:
  build:
    if: ${{ github.event.issue.pull_request && contains(github.event.comment.body, '@actions /build') }}
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - name: Get PR branch
        uses: xt0rted/pull-request-comment-branch@e8b8daa837e8ea7331c0003c9c316a64c6d8b0b1 # v3.0.0
        id: comment-branch
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ steps.comment-branch.outputs.head_ref }}
          persist-credentials: false
      - uses: guitarrapc/actions/.github/actions/setup-dotnet@main
        with:
          restore-wasm-workload: true
      - name: dotnet build
        run: dotnet build -c "${{ env.BUILD_CONFIG }}"
      - name: dotnet test
        run: dotnet test -c "${{ env.BUILD_CONFIG }}" --logger GitHubActions
      - name: dotnet publish
        run: dotnet publish -c "${{ env.BUILD_CONFIG }}"
      - name: Add comment to PR
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        if: always()
        with:
          script: |
            const name = '${{ github.workflow }}';
            const url = '${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}';
            const success = '${{ job.status }}' === 'success';
            const body = `${name}: ${success ? 'succeeded ✅' : 'failed ❌'}\n${url}`;

            await github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: body
            })
