name: Build Docker

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:
    inputs:
      push-image:
        type: boolean
        description: "push-image: true - build and push image. false - build only."
        required: true
        default: false
  schedule:
    - cron: 0 0 * * 0 # At AM9:00 JST on Subday

  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

env:
  DOCKER_BUILDKIT: "1"
  DOCKER_PUSH_ENABLED: "${{ github.event.inputs.push-image == 'true' && 'true' || (github.event_name == 'push' || github.event_name == 'schedule') }}"

jobs:
  find:
    outputs:
      build_matrix: ${{ steps.find.outputs.build_matrix }}
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Create Matrix JSON with Dockerfile Projects
        id: find
        run: |
          json=$(find src -name Dockerfile -exec dirname {} \; | jq -R -s -c 'split("\n") | map(select(length > 0)) | map({project: (split("/")[2]), dockerfile: (. + "/Dockerfile"), tag: (split("/")[1] | ascii_downcase) }) | { include: . }')
          echo "build_matrix=$json" | tee -a "$GITHUB_OUTPUT"

  docker:
    needs: [find]
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.find.outputs.build_matrix) }}
      # expected matrix format is as follows (YAML sample)
      # include:
      #   - project: ApiMultiplePort
      #     dockerfile: ./src/Api/ApiMultiplePort/Dockerfile
      #     tag: api
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: guitarrapc/actions/.github/actions/git-shortsha@main
        id: sha
      - uses: guitarrapc/actions/.github/actions/to-lower@main
        id: lower
        with:
          value: ${{ matrix.project }}
      # docker push
      - if: ${{ env.DOCKER_PUSH_ENABLED == 'true' }}
        name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ secrets.SYNCED_DOCKER_USER }}
          password: ${{ secrets.SYNCED_DOCKER_PASS }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@18ce135bb5112fa8ce4ed6c17ab05699d7f3a5e0 # v3.11.0
      - name: Build and push (latest)
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          platforms: linux/amd64,linux/arm64
          push: ${{ env.DOCKER_PUSH_ENABLED == 'true' }}
          file: "${{ matrix.dockerfile }}"
          tags: "${{ steps.lower.outputs.repository }}:latest-${{ matrix.tag }}-${{ steps.lower.outputs.value }}"
      - name: Build and push (tag)
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          platforms: linux/amd64,linux/arm64
          push: ${{ env.DOCKER_PUSH_ENABLED == 'true' }}
          file: "${{ matrix.dockerfile }}"
          tags: "${{ steps.lower.outputs.repository }}:${{ steps.sha.outputs.sha-short }}-${{ matrix.tag }}-${{ steps.lower.outputs.value }}"

  dotnet:
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: guitarrapc/actions/.github/actions/git-shortsha@main
        id: sha
      # docker push
      - if: ${{ env.DOCKER_PUSH_ENABLED == 'true' }}
        name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ secrets.SYNCED_DOCKER_USER }}
          password: ${{ secrets.SYNCED_DOCKER_PASS }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@18ce135bb5112fa8ce4ed6c17ab05699d7f3a5e0 # v3.11.0
      - uses: guitarrapc/actions/.github/actions/setup-dotnet@main
        with:
          restore-wasm-workload: false
      - name: dotnet publish (latest)
        if: ${{ env.DOCKER_PUSH_ENABLED == 'true' }}
        run: dotnet publish -c Release -p:ContainerImageTag="latest-container-containerconsolesdk" -p:ContainerRegistry=docker.io /t:PublishContainer
        working-directory: src/Container/ContainerConsoleSdk
      - name: dotnet publish (tag)
        if: ${{ env.DOCKER_PUSH_ENABLED == 'true' }}
        run: dotnet publish -c Release -p:ContainerImageTag="${{ steps.sha.outputs.sha-short }}-container-containerconsolesdk" -p:ContainerRegistry=docker.io /t:PublishContainer
        working-directory: src/Container/ContainerConsoleSdk
